/* Place CSS styles here */
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: left;
    color: #000000;
    background-color: #f4f4f4;
    margin: 10%;
    padding: 4%;
}

image {
    max-width: 10%;
    height: 10%;
    display: flex;
    margin: 20%;
}
