/* Place CSS styles here */
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: left;
    color: #000000;
    margin: 20px;
    padding: 8px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 78px;
    text-align: left;
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    margin: 0px;
    display: block;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-decoration: none;
    text-align: right;
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    margin: 0px;
    float: right;
}

a:hover {
    color: #fef252;
    outline: 2px solid #fef252;
}

.back-arrow img {
    display: block;
    width: 50px;
    height: auto;
    float: left;
}

.back-arrow a{
    display: block;
    background-color: transparent;
    margin: 10px;
    float: left;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    text-align: center;
    color: #000000;
    margin: 20px;
    padding: 8px;
    display: block;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin: 20px;
    padding: 8px;
    display: block;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 800px;
    height: auto;
}

form {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    margin: 20px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
