/* Place CSS styles here */
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: left;
    color: #000000;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 8px;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #000000;
}

image {
    max-width: 50px;
    height: 10%;
    display: flex;
    margin: 50px;
}
