/* Place CSS styles here */
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    text-align: left;
    color: #000000;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 8px;
}

h1 {
    font-size: 72px;
    text-align: center;
    color: #000000;
}

.image-container {
    width: 10px;
    height: auto;
    display: flex;
    margin: 50px;
}
